*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeaeca;
  padding: 20px;
}
h1{
  /* text-align: center; */
  color: #f1066d;
  padding-bottom: 20px;
} 
h2, h3 {
  color: red;
}
.listContainer {
  text-align: right;
  display: flex;
  padding-bottom: 20px;
}
.headerLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.headerLinks .headerLinksItems {
  display: inline-block;
  margin-right: 10px; 
}
.biographyContainer {
  padding-bottom: 20px;
  flex: 1;
  max-width: 50%;
  font-size: 20px;
  height: 100vh;
  /* justify-content: center; */
  text-align: justify;
  padding-right: 40px;
}
.goalParagraph {
  padding: 20px 0;
  width: 50%;
  flex: 1;
  font-size: 20px;
  height: 100vh;
  /* justify-content: center; */
  text-align: justify;
}
.educationContainer {
  flex: 1;
  font-size: 20px;
  width: 30%;
  text-align: justify;
  padding-right: 40px;
}
.mainContainer {
  display: flex;
}
.movieContainer {
  flex: 1;
  font-size: 20px;
  width: 30%;
  text-align: justify;
  padding-left: 40px;
}
.workContainer {
  width: 30%;
  font-size: 20px;
  text-align: justify;
  padding-right: 40px;
}
.eduWorkMovieContainer {
  display: flex;
}
.quizButton {
background-color: #bd1537;
color: #fff;
padding: 10px 20px;
font-size: 16px;
border: none;
border-radius: 4px;
}